@import 'stylesheets/reset.css';
@import 'stylesheets/helper.css';

:root {
	--radius: 5px;
}

body {
	font: 1.4rem system-ui;
}

.body__main {
	width: 80%;
	margin: 0 auto;
}

.hero {
	padding: 3em 0 5em;
}

/* ================
   === #GENERAL ===
   ================ */
.btn {
	font: unset; /* size: inherit, family: initial ... */
	padding: .5em 1em;
	background: #fff0;
	border: 2px solid;
	border-radius: var(--radius);
	cursor: pointer;
}

a.btn { text-decoration: none; }

/* ==============
   === #MEDIA ===
   ============== */
@media (min-width: 560px) {
	body { font-size: 1.6rem; }
}

@media (min-width: 1200px) {
	body {font-size: 1.8rem; }
}
